img {
    width: 100%;
    height: auto;
}

h2, h3, h4, h5, h6 {
    color: #262D52;
    font-weight: 600;
}

hr {
    border: none;
    border-top: 1px solid #eaebf0;
    margin: 13px 0;
}

#header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 0 30px;
    background-color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    height: 92px;
    color: #757575;
}

.header-container__logo {
    width: 185px;
    height: 40px;
    padding-right: 25px;
    cursor: pointer;
}

.header-container__search form {
    background-color: #f7f6fb;
    line-height: 36px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 400px;
    color: #757575;
    font-size: 14px;
    font-weight: lighter;
}

.header-container__search i {
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.header-container__search input {
    border: none;
    background-color: #f7f6fb;

}

.header-container__search input:focus {
    border: 1px solid #5467e7;
}

.header-container__nav {
    display: flex;
    flex-grow: 1;
    padding-left: 30px;
    cursor: pointer;
}

.header-container__nav li {
    padding: 0 20px;
}

.header-container__nav li:hover {
    color: #5467e7;
}

.header-container__user-avt {
    display: flex;
    cursor: pointer;
}

::-webkit-scrollbar {
	width: 0;
	background-color: lightgrey;
}
::-webkit-scrollbar-thumb{
	background-color: grey;
	border-radius: 5px;

}

.sidebar {
    display: inline-block;
    position: fixed;
    top: 92px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    width: 240px;
    padding: 0 30px;
    font-size: 16px;
    color: #8182a0;
}

.sidebar .title {
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.active > .title {
    color: #5467e7;
    background-color: #f1f4fd;
}

.sidebar .title i {
    font-size: 24px;
    padding-right: 12px;
}

.sidebar li {
    margin-left: 40px;
    list-style: disc;
    padding: 10px;
    cursor: pointer;
}

.sidebar li:hover  {
    color: #5467e7;
}

.sidebar .banner img {
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.content {
    width: calc(100% - 240px);
    display: inline-block;
    position: relative;
    left: 240px;
    top: 92px;
    padding: 30px;
    background-color: #f9f8fd;
    border-radius: 12px;
}

.content > .row {
    margin: 0;
}

.slider-section {
    padding-bottom: 20px;
}

.slider {
    min-height: 250px;
    width: 70%;
    background-color: #7571df;
    background-image: url(../img/slider/Converted.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-right: 15px;
    border-radius: 12px;
    padding: 30px 20px;
    cursor: pointer;
    position: relative;
}

.slider h2 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    width: 50%;
}

.dot-list {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.dot-list .dot {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #dcdbf3;
}

.dot-list .dot--active {
    background-color: #fff;
}

.slider p {
    color: #dcdbf3;
    margin-top: 10px;
    width: 50%;
}

.tutorial {
    min-height: 250px;
    width: calc(30% - 30px);
    float: right;
    background-color: #fecfd1;
    margin-left: 15px;
    border-radius: 12px;
    cursor: pointer;
    background-image: url(../img/slider/banner-guide.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 30px 20px;
}

.tutorial h2 {
    width: 50%;
    font-size: 24px;
    color: #262D52;
    line-height: 30px;
}

.tutorial a {
    text-decoration: none;
    color: #5467e7;
    font-size: 14px;
    padding-top: 4px;
}

.box-section {
    padding: 20px 0;
}

.box-section .heading-section {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #262D52;
}

.box-section .show-all {
    text-decoration: none;
    color:#5467e7;
    font-size: 16px;
    font-weight: 500;   
    align-self: flex-end;
}

.box-section .content-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
}

.last-update .heading-section {
    margin-bottom: 30px;
}

.last-update__list .row {
    margin-top: -16px;
    margin-bottom: -16px;
}


.last-update__list-item {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
    padding-top: 16px;
}

.last-update__list-item img {
    width: 60px;
    height: 60px;
}

.last-update__list-item .item-name {
    padding: 0 15px;
    font-size: 15px;
    opacity: 0.9;
    width: 58%;
}

.item-name h3 {
    font-size: 14px;
    cursor: pointer;
}

.item-name h3:hover {
    color:#5467E7;
}

.sub-name {
    font-size: 12px;
    color: #9a9aab;
}

.item-btn {
    text-align: center;
    margin-left: auto;
    width: 68px;
}

.item-btn .detail {
    width: 100%;
    border-radius: 12px;
    color: #5467E7;
    border: 1px solid #5467E7;
    background-color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
    transition: all 0.3s;
}

.item-btn .detail:hover {
    color: #fff;
    background-color: #5467E7;
}

.item-btn .free {
    font-size: 11px;
    text-align: center;
    width: 100%;
    color: #8182a0;
}

.popular-section {
    padding-right: 15px;
}

.popular-section .content-container {
    padding: 0;
    background-color: #f9f8fd;
}

.popular-item {
    padding: 15px;
    border-radius: 12px;
    height: 256px;
}

.popular-item__header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #e5e8f8;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.popular-item__header img {
    width: 60px;
    height: 60px;
}

.popular-item__content {
    padding: 12px 15px 15px;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.item-meta {
    color: #9a9aab;
    font-size: 11.5px;
}

.item-meta .row {
    justify-content: space-between;
    margin: 0;
}

.item-meta span {
    color: #666;
}

.tutorial-section {
    padding-left: 15px;
}

